<IfModule mod_rewrite.c>
# Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/ 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /public/$1 
#RewriteRule ^ index.php [L]
RewriteRule ^(/)?$ public/index.php [L] 

# Route requests to the Node.js server
# RewriteRule ^node(.*)$ http://localhost:8000/$1 [P,L]

</IfModule>